<%= form_for ([@service.user,@service]),html: { multipart: true } do |f| %>
    <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
            <% @service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row form-group">
      <div class="col-xs-4">
        <%= f.label "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-4">
        <%= f.label "Charges" %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>
    </div>

    <div class="row  form-group">
      <div class="col-xs-4">
        <%= f.label "Description" %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-4">
        <%= f.label "Time needed in minutes" %>
        <%= f.number_field :time, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
        <%= f.label :image %><br>
        <input type="file" name="file" accept="image/*">
    </div>

    <div class="row form-group">
      <div class="actions">
          <%= f.submit "Save", class: "btn btn-success request-button", style: "height:40px;width:100px;margin-left:5%" %>
      </div>
    </div>
<% end %>
