<div style="background:#c92a5c; padding:6px; width:600px; margin:0px auto;">
  <div style="margin:0px auto; width:auto; height:auto; background:#fff; border:solid 1px #f2f2f2; padding:25px;">
    <table style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:24px; " width="" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td><p align="center"><img class="transparent" src="https://ucarecdn.com/6634bebf-572f-4de0-ae64-48f013916cc9/Reddera_logo.png" alt="https://i.imgsafe.org/8ef4375dbb.png" style="width:239px;margin-left:150px">
        </p></td>
      </tr>
      <tr>
        <td>
          <p style="font-size:20px"><font color="black">Gift Card</font> </p>
          <div align="center">


          </div>
          <p style="margin-left:20px">1.From : <%=@details.user.first_name + " " + @details.user.last_name%> </p>
          <p style="margin-left:20px">2.Code : <b><%=@details.gift_code%></b> </p>
          <p style="margin-left:20px">3.Amount :  <%=@details.amount%></p>
          <p style="margin-left:20px">4.Validity :  <%=@details.validity%></p>
          <p style="margin-left:20px">5.Message :  <%=@details.message%></p>



        </td>
      </tr>
      <br/>


      </tbody></table>
  </div>
</div>
