<%if !@alert.blank?%>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=@alert%>
    </div>

<%end%>
<div class="container">
  <div class="col-lg-12 text-center">
    <h2 class="sh7">Add Service Categories</h2>
  </div>
<%= form_for @service_category, html: {multipart: true} do |f| %>
    <div class="form-row">
      <% if @service_category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@service_sub_category.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @service_category.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label "Name" %>
          <%= f.text_field :name , class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 col-sm-12 file-upload">
          <div>Upload a Picture</div>
                          <span>
                             <input type="file" name="file" accept="image/*">
                          </span> <span class="pull-left" style="margin-bottom: 19px;margin-top:50px ; margin-left:-256px">
                                               <%= f.submit "Create", class: "btn-confirm btn btn-small btn-primary" %>
                          </span></div>

      </div>
      </div>
<%end%>
 <%=link_to 'Back', rails_admin.dashboard_path, class: 'navbar-link btn-deny btn btn-primary', method: :get,:style=>"margin-bottom:39px;margin-left:10px"%>
</div>