
<div class="row dashboard">
  <div>
    <%if current_user.isStylist?%>

  <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="page-header">
        <h1 class="pull-left">Upcoming </h1>
        <span class="pull-left msg-notf-icon"><img src='<%= asset_path("icon-upcoming.png") %>'></span>

        <div class="clearfix"></div>
        <h5>View or Delete</h5>
      </div>

    </div>
    <%else%>
         <div class="col-md-3 col-sm-3 col-xs-12">

        <div class="page-header">
          <h1 class="pull-left">Upcoming </h1>
          <span class="pull-left msg-notf-icon"><img src='<%= asset_path("icon-upcoming.png") %>'></span>

          <div class="clearfix"></div>
          <h5>View, Cancel or Reschedule</h5>
        </div>
        </div>

        <%end%>
    <div class="col-md-9 col-sm-9 col-xs-12">
     <div id="upcoming">

      <%=will_paginate @upcomings,:param_name => 'upcoming_page' , renderer: BootstrapPagination::Rails %>
      <% @upcomings.each do |upcoming| %>

          <div class="table-responsive table-booking">

            <table class="table table-condensed latest-thum-size text-justfy">
              <tbody>
              <tr>
                <td>
                  <%if current_user.isClient?%>
                      <%= link_to stylist_path(upcoming.stylist.id,upcoming.stylist.first_name), :class => "thumbnail" do %>
                          <%= image_tag upcoming.stylist.photo.image.url, :class => "img-circle" %>
                      <% end %>
                      <%= upcoming.stylist.first_name %>

                  <%else %>
                      <%=link_to client_path(upcoming.user.id,upcoming.user.first_name), :class => "thumbnail" do %>
                          <%= image_tag upcoming.user.photo.image.url, :class => "img-circle" %>
                      <% end %>
                      <%= upcoming.user.first_name %>
                  <%end%>
                </td>
                <td><h4>
                  <%= Booking.get_services_name_by_booking(upcoming)%></h4>
                  <h6><%=upcoming.dates.strftime("%a-%b. %d %Y")%>, <%=upcoming.slots.slice(0,7)%></h6>
                  <h5><strong>Address:</strong><h6 class="w70p pull-right text-profile" style="margin-top:-17px;margin-right:13px">&nbsp;<%=upcoming.user.address%>,<%=upcoming.user.zipcode%>,<br/>&nbsp;<%=upcoming.user.city%>,<br/>&nbsp;<%=upcoming.user.state%></h6></h5>

                </td>
                <td><span aria-hidden="true" class="glyphicon glyphicon-time mr5"></span><%= upcoming.total_time %>
                </td>
                <td>$<%=get_amount_paid_for_transaction_booking(upcoming)%></td>



                 <%if current_user.marked.to_i <3 %>

                 <td><button class="btn-confirm btn btn-small btn-primary pull-right cancelAppointment" booking-id ="<%=upcoming.id%>"  style="width: 120px;height: 35px ;margin-left: 30%">Cancel
                   </button>
                   <%else %>
                    <td><button class="btn-confirm btn btn-small btn-primary pull-right cancelAptshowAlert" booking-id ="<%=upcoming.id%>"  style="width: 120px;height: 35px ;margin-left: 30%">Cancel
                    </button>
                    <%end%><!--
                <button class="btn-deny btn btn-small btn-primary pull-right rescheduleAppointment" booking-id ="<%#=upcoming.id%>"  style="width: 120px;height: 35px ;margin-left: 30%">Reschedule</button></td>
-->           <%if current_user.isClient?%>
                <button class="btn-deny btn btn-small btn-primary pull-right book" style="width: 120px;height: 35px ;margin-left: 30%" stylist-services="<%=getstylistService(upcoming.stylist)%>"booking-id ="<%=upcoming.id%>" stylist-img="<%=upcoming.stylist.photo.image.url%>" stylist-name="<%= upcoming.stylist.first_name%>" stylist_specific_day_avail="<%=get_updated_availability(upcoming.stylist)%>" stylist-id="<%= upcoming.stylist.id %>" service-id="<%=upcoming.multiple_services%>" service-amount="<%=upcoming.total_amount%>" booking-list="<%= getuserBooking(upcoming.stylist) %>" availiable-list="<%= getuserAvaliability(upcoming.stylist) %>" service-duration="<%=upcoming.total_time %>" service-name="<%= Booking.get_services_name_by_booking(upcoming)%>" user-id="
                        <% current_user.id if user_signed_in? %>"type="submit">Reschedule</button>
                <%else%>

                    <button class="btn-deny btn btn-small btn-primary pull-right book2" style="width: 120px;height: 35px ;margin-left: 30%"  dates="<%=upcoming.dates%>" booking-id ="<%=upcoming.id%>" stylist-img="<%=upcoming.stylist.photo.image.url%>" stylist-name="<%= upcoming.stylist.first_name%>" stylist-id="<%= upcoming.stylist.id %>" service-id="<%= upcoming.stylist.id %>" service-amount="<%= upcoming.total_amount%>" booking-list="<%= getuserBooking(upcoming.stylist) %>" availiable-list="<%= getuserAvaliability(upcoming.stylist) %>" service-duration="<%=upcoming.total_time%>" service-name="<%= Booking.get_services_name_by_booking(upcoming)%>" user-id="
                        <% current_user.id if user_signed_in? %>"type="submit">Reschedule</button>
                <%end%>
              </tr>
              </tbody>
            </table>
          </div>
      <% end %>
       </div>
      <hr/>


    </div>
  </div>
</div>

<%if current_user.isClient?%>
    <%=render partial: 'bookings/cancelPolicyClient' %>
<%else%>
    <%=render partial: 'bookings/cancelPolicyStylist' %>

<%end%>
<script>
 $(function() {

//            $(".pagination a").on("click", function() {
//                var geturl=this.href
//                var my_parent=$(this).parent()
//                var container_id = my_parent.attr('id');
//                if (container_id=="upcoming"){
//
//                }
//            });

       $(function() {

      $(".pagination a").on("click", function() {
      var geturl=this.href
      $.ajax({
      url:geturl ,
      type: "GET",
      dataType : 'script'
      });



//          $(document).ajaxStart(function() {
//              var upcoming=document.getElementById("upcoming")
//
//              var spinner=$('#spinner').show()
//              upcoming.innerHTML='<div class="spinner"></div>>'
//
//          })
      });
      });



    });
 $(".book2").on("click", function () {
     <% if user_signed_in? %>
     allSpan=[]

     $('#alert').hide()
     $('#dropdown').hide()


     $('#dropdown').hide()

     $('#datepicker').hide()
     $('#bogo').hide()
     $('#hair-curling').hide()
     $('#cal-icon').hide()
     $('.days.clear').hide()
     $('#form').hide();
     $('#availability').hide();
     $('#rescheduleStylist').show();
     var dyn_dates=[];
     var upper_li;
     var lower_li;
     var timeRow1= document.getElementById('timeRow1')

     var timeRow2= document.getElementById('timeRow2')

     var reschButton=document.getElementById('rescheduleStylist')
     reschButton.disabled=true

//     var mul_pTag=document.getElementById('mulsel1')
//     mul_pTag.innerHTML=""
//     $(".hida").show()
     var days = ['sun','mon', 'tue', 'wed', 'thu', 'fri', 'sat' ];
     var dyn_days=[]
    // var stylist_img=$(this).attr('stylist-img');
     //var stylist_name = $(this).attr('stylist-name');
     var service_id = $(this).attr('service-id');
     var service_amount = $(this).attr('service-amount');
     var service_duration = $(this).attr('service-duration');
     var service_name = $(this).attr('service-name');
     var stylist_id = $(this).attr('stylist-id');
     var bookingID=$(this).attr('booking-id')
     var availableList = $(this).attr('availiable-list');
     var bookingList = $(this).attr('booking-list');
     var stylistServices=$(this).attr('stylist-services');
     //var my_sevices=JSON.parse(stylistServices);
     // alert(bookingList)
     var upper_time
     var lower_time
    // var services= JSON.parse(stylistServices);
     var clicked_id
     var service_time=checkServiceTime(allSpan)
     var buttonCLass= $(this).attr('class')
     var dates=$(this).attr('dates');

     function checkServiceTime(allSpan){
         if (allSpan.length > 0){
             var dropdownTimes=[]


             for (var i=0;i<allSpan.length;i++){
                 var onlytimings = allSpan[i].split(" ");
                 dropdownTimes[i]=parseInt(onlytimings[1])


             }
             var total=0
             var serviceTimeresult=dropdownTimes.reduceRight(function(a,b){return a+b;})

             return (serviceTimeresult/15)

         }
         else{

             return parseInt(service_duration / 15);
         }
     }

     var time_titles = [];
     var FirstSevenDays = [];
     var final_date;
     var final_date2;
     var el = document.getElementById('hair-curling');
     el.firstChild.data = service_name + ' ' + '-' + ' ' + service_duration +' '+'mins';

     $('.days.clear').show();

     $('#hair-curling').show()
     $('#availability').show();



     $(".dropdown1 dt").on('click', function() {
         $(".dropdown1 dd ul").show();

     });

     $(".dropdown1 dd ul li ").on('click', function() {

     });

     function getSelectedValue(id) {
         return $("#" + id).find("dt  span.value").html();
     }


     $("body").click
     (
             function(e)
             {
                 if(e.target.className != "usual" && e.target.className != "dude" )
                 {
                     $('#multiselect1').hide()
                 }
                 else{$('#multiselect1').show()

                 }
             }
     );





     var nowDate = new Date(dates);
     var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

     CreateDates(nowDate)


     function CreateDates(nowDate) {

         var date1=new Date()
//            date1.setHours(0, 0, 0, 0);
//            nowDate.setHours(0, 0, 0, 0);
         var a_string="hello"
         var inp =  $('#datepicker').val();
         //alert(nowDate)




         var CurrentDate;
//                if (nowDate < date1 || nowDate > date1 || typeof (inp) != typeof a_string) {
//                    CurrentDate = nowDate
//                    alert('hii')
//                }
//                else {
//                    CurrentDate = new Date(inp);
//                    alert(CurrentDate);
//
//
//                }
         CurrentDate=nowDate
         var SelectedDate = CurrentDate.getDate();


         var  date= new Date(new Date(CurrentDate.getTime() + CurrentDate.getTimezoneOffset()*60000 +0).toUTCString());
         console.log(date)
         var yyyy = date.getFullYear().toString();
         var mm = (date.getMonth() + 1).toString();
         var dd = date.getDate().toString();
         // CONVERT mm AND dd INTO chars
         var mmChars = mm.split('');
         var ddChars = dd.split('');
         // CONCAT THE STRINGS IN YYYY-MM-DD FORMAT
         var datestring = yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
         FirstSevenDays[0] =  datestring;

         dyn_days[0]=days[new Date(FirstSevenDays[0]).getDay()]
         dyn_dates[0] =mm+'/'+dd

         for (var i = 1; i < 2; i++) {

             createFirstSevenDays(new Date(FirstSevenDays[i-1]),SelectedDate, i)
         }
         CreateCalendar(FirstSevenDays, service_time, days);
     }

     function createFirstSevenDays(CurrentDate,SelectedDate,itterationValue){
         /*
          var date = new Date(new Date(CurrentDate.setDate(SelectedDate + itterationValue)).toUTCString());
          */
         //'Mar 11 2015' current.getTime() = 1426060964567

         var date = new Date(new Date(CurrentDate.getTime() + CurrentDate.getTimezoneOffset()*60000 +86400000));// + 1 day in ms

         // GET YYYY, MM AND DD FROM THE DATE OBJECT
         var yyyy = date.getFullYear().toString();
         var mm = (date.getMonth() + 1).toString();
         var dd = date.getDate().toString();
         // CONVERT mm AND dd INTO chars
         var mmChars = mm.split('');
         var ddChars = dd.split('');
         // CONCAT THE STRINGS IN YYYY-MM-DD FORMAT
         var datestring = yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
         FirstSevenDays[itterationValue] =  datestring;

         dyn_days[itterationValue]= days[new Date(FirstSevenDays[itterationValue]).getDay()]
         dyn_dates[itterationValue]=mm+"/"+dd

     }

     function CreateCalendar(FirstSevenDays, service_time, days) {

         var availList = JSON.parse(availableList);
         var bookedList = JSON.parse(bookingList);

         var classArr = ['t00', 't15', 't30', 't45'];
         var time_data = ['06AM', '07AM', '08AM', '09AM', '10AM', '11AM', '12PM', '01PM', '02PM', '03PM', '04PM', '05PM', '06PM', '07PM', '08PM', '09PM', '10PM', '11PM'] //Added because it was missing... no idea what the original should have been
         var data1 = time_data.length
         var tablearea = document.getElementById('showDataID');
         var dateColoumn = document.getElementById('dateColumn');
         var table = document.createElement('table');
         table.className = 'grid';
         var thead = document.createElement('thead');
         var tr = document.createElement('tr');
         for (var i = 0; i < data1; i++) {
             var headerTxt = document.createTextNode(time_data[i]);
             var th = document.createElement('th');
             th.setAttribute('colspan', '4');
             th.appendChild(headerTxt);
             tr.appendChild(th);
         }

         thead.appendChild(tr);
         table.appendChild(thead);
         dateColoumn.innerHTML = "";
         for (var i = 0; i < FirstSevenDays.length; i++) {

             var tr = document.createElement('tr');
             var tr1 = document.createElement('tr');
             tr1.className = "gridRow padding";
             tr.className = "gridRow data";
             var headerTxt = document.createTextNode(dyn_dates[i]);
             var allDaysweek = document.createTextNode(dyn_days[i]);
             var li = document.createElement('li');
             li.className="pcdt"
             li.id= i
             var span = document.createElement('span');
             var span2 = document.createElement('span');
             span.className="pdate"
             span2.className="pday"
             span2.appendChild(allDaysweek)
             span.appendChild(headerTxt);
             li.appendChild(span2);
             li.appendChild(span);
             li.setAttribute('dates',FirstSevenDays[i])
             dateColoumn.appendChild(li);
             var count = 0;
             var timeCount = 0;
             for (var k = 0; k < data1 * 4; k++) {
                 var td = document.createElement('td');
                 var td1 = document.createElement('td');
                 td.id = i + "-" + k;

                 var td_id = td.id.toString().split('-')
                 if (td_id[1] > 23) {
                     td.title = time_data[timeCount].replace(/[A-Z]/g, '') + "." + classArr[count].slice(1, 3) + "PM";
                 } else {
                     td.title = time_data[timeCount].replace(/[A-Z]/g, '') + "." + classArr[count].slice(1, 3) + "AM";
                 }
                 /*
                  var dp=new Date(FirstSevenDays[i].toString()+'T'+td.title.replace('.',':').slice(0,5).toString()+':'+'00');
                  */


                 var dateTime=new Date(FirstSevenDays[i].toString()+'T'+getTwentyFourHourTime(td.title.replace('.',':').slice(0,5).toString()+' '+td.title.replace('.',':').slice(5,7).toString()));



                 var latestDate=new Date()

                 if (isBooked(bookedList, FirstSevenDays[i], td.title, count, classArr[count]).indexOf("mustCall") !== -1  || dateTime < latestDate) {

                     td.className = classArr[count] + " mustCallToBook";

                 } else {
                     td.className = isAvail(availList, dyn_days[i],FirstSevenDays[i],td.title ,time_data[timeCount], count, classArr[count]);
                 }
                 if (count == 3) {
                     count = 0;
                     timeCount++;
                 } else {
                     count++;
                 }

                 tr.appendChild(td);
//                 tr1.appendChild(td1);
             }
             table.appendChild(tr);
             table.appendChild(tr1);
             $('#timeRow1').show()
             $('#timeRow2').show()
         }

//         var mulSel=document.getElementById('multiselect1')
//
//         var ul=document.createElement('ul');


//         services.forEach(function (service) {
//
//             var li=document.createElement('li');
//             li.className="dude"
//             var checkbox=document.createElement('input');
//             checkbox.type="checkbox"
//             checkbox.value=service.name+" "+ service.time;
//             checkbox.id=service.id
//             var label=document.createElement('label')
//             label.setAttribute("for",service.id);
//             label.innerHTML = service.name +" "+ service.time;
//             li.appendChild(checkbox)
//             li.appendChild(label)
//             ul.appendChild(li)
//
//             //                       var label=document.createElement('label')
////                        var checkbox=document.createElement('input')
////                        checkbox.type=checkbox
////                        checkbox.name="option[]"
////                        checkbox.value=service.name
////                        label.appendChild(checkbox)
////                        x.appendChild(label)
////                        var c = document.createElement("option");
////                        c.text=service.name
////                        x.appendChild(c)
//
//         });
//         mulSel.innerHTML="";
//         mulSel.appendChild(ul)

         tablearea.innerHTML = "";
         tablearea.appendChild(table);
         $("#lowerbutton").prop('disabled',false);
         $("#upperbutton").prop('disabled',false);


//         upper_li =document.getElementById("0").childNodes[1].innerHTML
//         lower_li = document.getElementById("6").childNodes[1].innerHTML

         $('td').mouseenter(
                 function () {

                     if ((this.className).indexOf("available") !== -1) {
                         var ClassAvailable = this.className;
                         $(this).removeClass(this.className.toString() + " " + "available");
                         $(this).addClass(ClassAvailable + " selectable" + " selected");
                         //   alert(this.className.toString() + " available" +  " selectable"+" selected" );
                         if (this.className.indexOf("selectable selected") !== -1) {
                             var SelectableSelected = this.className;


                         }
                         ClassAdder(this.id, SelectableSelected);
                         if (this.id.toString().split('-')[0]==0) {
                             final_date = FirstSevenDays[this.id.toString().split('-')[0]];

                         }
                         else{
                             final_date2 = FirstSevenDays[this.id.toString().split('-')[0]];

                         }
                     }


                 }
         );

         $('td').mouseleave(
                 function () {
                     if ((this.className).indexOf("selectable selected") !== -1) {
                         var p = this.className.toString()
                         var b = p.slice(0, 3);
                         $(this).removeClass(this.className + " available" + " selectable" + " selected");
                         $(this).addClass(b + " available");

                         ClassAdder(this.id, b + " available")

                     }
                 }
         );


         tdSelection()





     }

//     $("#upperbutton").on("click", function () {
//         $(this).prop('disabled',true);
//         var dateSelected= new Date(upper_li)
//         var latestDate = new Date();
//         var todayDate=dateSelected.getDate();
//
//         var date = new Date(new Date(dateSelected.getTime() - 86400000).toUTCString())
//         CreateDates(date)
//
//     });
//
//
//     $("#lowerbutton").on("click", function () {
//         $(this).prop('disabled',true);
//         var dateSelected= new Date(lower_li)
//         var latestDate = new Date();
//         var todayDate=dateSelected.getDate()
//
//         var date = new Date(new Date(dateSelected.getTime() + 86400000).toUTCString())
//         CreateDates(date)
//
//
//
//     });


     tdSelection()

     $("#upperbutton").on("click", function () {
         upper_li =$('#0').attr('dates')
         $(this).prop('disabled',true);
         var dateSelected= new Date(upper_li)
         var latestDate = new Date();
         var todayDate=dateSelected.getDate();

         var date = new Date(dateSelected.getTime() + dateSelected.getTimezoneOffset()*60000 - 86400000)
         CreateDates(date)
//         //alert(service_name)
//         $('span').remove('.hair');
//         allSpan=[]
//         allSpanAmount=[]
//         multiple_services_id=[]
//         multiple_services_name=[]
//         service_time=service_duration/15
//         service_amount=service_amount_initial
     });




     $('html,body').animate({
                 scrollTop: $("#hair-curling").offset().top},
             'slow')

     $("#lowerbutton").on("click", function () {
         lower_li =$('#1').attr('dates')

         $(this).prop('disabled',true);
         var dateSelected= new Date(lower_li)
         var latestDate = new Date();
         var todayDate=dateSelected.getDate()
         $('span').remove('.hair');
         var date = new Date(dateSelected.getTime() + dateSelected.getTimezoneOffset()*60000+ 86400000)
         CreateDates(date)
//         allSpan=[]
//         allSpanAmount=[]
//         multiple_services_id=[]
//         multiple_services_name=[]
//         service_time=service_duration/15
//         service_amount=service_amount_initial


     });



     /*    function convertTotime(time){
      if (time.slice(5,7)=="PM"){
      time.slice()
      var time1  = date("H:i", strtotime( time.replace('.',':').slice(0,5).toString()+' '+"PM"));
      alert(time1)
      return time1
      }
      else {
      var time= time.replace('.',':').slice(0,5).toString()
      return time
      }





      }*/

     function getTwentyFourHourTime(amPmString) {
         var d = new Date("1/1/2013 " + amPmString);
         d.getHours() + ':' + d.getMinutes();
         if (d.getMinutes()==0){
             var min= d.getMinutes()+'0'
         }else{
             var min=d.getMinutes()
         }

         if  ( isDigit(d.getHours())){
             var hours='0'+d.getHours()
         }else{
             var hours=d.getHours()
         }
         return hours + ':' + min + ':'+'00'
     }
     function isDigit(val) {
         return String(+val).charAt(0) == val;
     }

     function ClassAdder(id, className) {
         //alert(className);

         time_titles=[];
         time_titles[0] = document.getElementById(id).title;
         var td_ids = [];
          clicked_id = id.toString().split('-')
         for (var i = 1; i < service_time; i++) {
             var f = parseInt(clicked_id[1]);
             var f1 = f + i;
             td_ids[i] = clicked_id[0] + "-" + f1

             if ((document.getElementById(td_ids[i]).className).indexOf("available") == -1){

                 break;
             }
             else if ((document.getElementById(td_ids[i]).className).indexOf("selectable selected") !== -1 || (document.getElementById(td_ids[i]).className).indexOf("available") !== -1) {
                 (document.getElementById(td_ids[i]).className) += className;

                 time_titles[i] = document.getElementById(td_ids[i]).title;


             }



         }



     }




     function getServiceTime(allspan){
     }


     function tdSelection() {

         $('td').bind("click", function () {
             var ids;
             //  var checking_ids = []
             if ((this.className).indexOf("selectable selected") !== -1) {

                 if (time_titles.length == service_time) {
//                 $("#showDataID").hide();
//                 $(".days.clear").hide();
//                 $('#datepicker').hide();
//                 $('#cal-icon').hide()
//                 $('#hair-curling').hide()
//                 $('#bogo').hide()
//                 $('#form').show();
//                 $('#dt').hide()

                     if (clicked_id[0] == 0) {
                         upper_time = time_titles.toString()
                         timeRow1.innerHTML = "Date:" + " " + final_date + " " + "Time:" + " " + time_titles.toString().split(',')[0] + "-" + time_titles.toString().split(',')[0 + time_titles.toString().split(',').length - 1]
                         var checkbox = document.createElement('input')
                         checkbox.type = 'checkbox'
                         checkbox.id = "upperRow"
                         checkbox.value = false
                         checkbox.class = "checkclass"
                         var label = document.createElement('label')
                         label.setAttribute("for", checkbox.id);
                         label.setAttribute("style", "margin-bottom:15px;margin-left:-308px");
                         timeRow1.appendChild(checkbox)
                         timeRow1.appendChild(label)

                     }
                     else {
                         lower_time = time_titles.toString()

                         timeRow2.innerHTML = "Date:" + " " + final_date2 + " " + "Time:" + " " + time_titles.toString().split(',')[0] + "-" + time_titles.toString().split(',')[0 + time_titles.toString().split(',').length - 1]
                         var checkbox = document.createElement('input')
                         checkbox.type = 'checkbox'
                         checkbox.id = "lowerRow"
                         checkbox.class = "checkclass"
                         checkbox.value = false
                         var label = document.createElement('label')
                         label.setAttribute("for", checkbox.id);
                         label.setAttribute("style", "margin-bottom:15px;margin-left:-308px");

                         timeRow2.appendChild(checkbox)
                         timeRow2.appendChild(label)
                     }
                     $("#upperRow,#lowerRow").click(function () {
                         if ($("#upperRow").is(':checked') == true && $("#lowerRow").is(':checked') == true) {
                             reschButton.disabled = false

                         } else {
                             reschButton.disabled = true

                         }
                     });//                 $('#upperRow,#lowerRow').click(function() {
//                     if ($('#upperRow').prop('checked', true) && $('#lowerRow').prop('checked', true)  ) {
//                     }
//                 });
                 }
                 else {
                     if ((this.className).indexOf("selectable selected") !== -1) {

                         $('#alert').show()
                     }
                 }


             }
         });
     }



    $('#rescheduleStylist').on('click', function() {
        $.ajax({
         url:'/users/' + stylist_id + '/bookings/' + bookingID +'/reschedule_stylist.html',
            type:'PUT',
            data:{booking:{rescheduled_time:[{time1:upper_time,time2:lower_time,date1:final_date,date2:final_date2}] }}
        });
    });


     $('.mutliSelect input[type="checkbox"]').on('click', function() {
         var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
                 title = $(this).val() ;

         if ($(this).is(':checked')) {
             var html = '<span title="' + title + '">' + title + '</span>';
             $('.multiSel').append(html);
             $(".hida").hide();
             allSpan.push(title)
             service_time = checkServiceTime(allSpan)

         } else {
             $('span[title="' + title + '"]').remove();
             var ret = $(".hida");
             $('.dropdown1 dt').append(ret);
             allSpan.pop(title)

             service_time = checkServiceTime(allSpan)
         }







     });
     function isBooked(list, date, time, count, classArr) {
         var b = 0;
         //console.log(time)
         //alert(typeof (time));
         /* var time_all= '03.30PM,03.45PM,04.00PM,04.15PM,04.30PM'*/


         var booked = classArr;

         list.forEach(function (book) {



             var bookedTime = book.time;
             var all_slots = bookedTime.toString().split(',');
             if ((book.date == date &&  (jQuery.inArray(time, all_slots) != -1)) == true  ) {
                 booked = booked + " mustCallToBook";
                 console.log(booked)
             }
         });
         return booked;
     }

     function isAvail(avail, day,date,td_time, time, count, classArr) {
         var avaliable = classArr;

         /*  alert((td_time.slice(0,5).replace('.',':') +':'+ '00' + " "+td_time.slice(5,7)).toString())
          alert((new Date().toLocaleTimeString()))
          alert(((td_time.slice(0,5).replace('.',':') +':'+ '00' + " "+td_time.slice(5,7)).toString()) < (new Date().toLocaleTimeString()))*/

         avail.forEach(function (book) {



             if (book.time == time && book[day] == true )  {
                 if (!avaliable.indexOf("available") !== -1) {
                     avaliable = avaliable + " available";
                 }
             }


         });
         return avaliable;
     }

     <%else%>
     $('#myModal_login').modal('show');
     <%end%>

 });




 $("#close").on("click", function () {

     $("#showDataID").show();
     $(".days.clear").show();
     $('#datepicker').show();
     $('#cal-icon').show()
     $('#hair-curling').show()
     $('#bogo').show()
     $('#alert').hide()

 });


</script>
<style>
    /* Paste this css to your style sheet file or under head tag */
    /* This only works with JavaScript,
    if it's not present, don't show loader */
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .spinner {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('<%=asset_path('loaderA16.gif')%>') center no-repeat #fff;
    }
</style>