<section class="tab">
  <div class="container-fluid">
    <div class="row">
      <!-- tab-->
      <div id="content-dashboard-tabs" class="mt15">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li  class="<%= is_active?(user_dashboard_path(current_user)) %>"><%=link_to "Dashboard",user_dashboard_path(current_user),:track=>"yes"%></li>
          <li  class="<%= is_active?(transactions_path) %>"><%=link_to "Transaction History",transactions_path,:track=>"yes"%></li>
          <li class="<%= is_active?(user_bookings_path(current_user)) %>"><%= link_to "Your Bookings", user_bookings_path(current_user),:track=>"yes" %></li>
          <li class="<%= is_active?(edit_user_path(current_user)) %>"><%= link_to "Account Settings",  edit_user_path(current_user),:track=>"yes" %></li>
          <li class="<%= is_active?(client_path(current_user.id,current_user.first_name)) %>"><%= link_to "Profile",client_path(current_user.id,current_user.first_name),:track=>"yes" %></li>
          <li class="<%= is_active?(user_favourite_stylist_index_path(current_user.id)) %>"><%= link_to "Favourites", user_favourite_stylist_index_path(current_user.id),:track=>"yes"%></li>

        </ul>
      </div>
    </div>
  </div>
</section>
<script>

    $('a[track]').click(function(){
        NProgress.start();
    });

</script>
