<section class="corporate-banner">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 caption-corporate">
        <h2>Be a Leader. Be a Team Player. BE WELL.</h2>
        <div class="caption-bg">
          <p>The BEauty and WELLness Initiative, BeWell is a coming together of professionals in the industries of beauty and wellness. Our goal is to provide a complete and whole approach to the health and happiness of your office environment.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Offerings-->
<section>
  <!-- 4 box-->
  <div class="container icns">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
        <h2 class="sh1">Service Offerings</h2>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('nail-bar.png')%>"></figure>
        <h1>Nail Bar</h1>
        <h2>Manicure<br />
          Menicure </h2>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('wellness-bar.png')%>"></figure>
        <h1>Wellness Bar</h1>
        <h2>Chair Massage <br />
          Mini Facial </h2>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('beauty-bar.png')%>"></figure>
        <h1>Beauty Bar</h1>
        <h2>Mini Make-Over <br />
          Brow Shaping </h2>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('hair-bar.png')%>"></figure>
        <h1>Hair Bar</h1>
        <h2>Men's Clean-Up Cut <br />
          Women's Blow-Out </h2>
      </div>
    </div>
  </div>

  <!-- 4 images box -->
  <div class="container corporate-photo phts">
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('Stocksy_txp0160f8c5T46100_Medium_48661.png')%>"></figure>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('212497.png')%>"></figure>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('478949.png')%>"></figure>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
      <div class="corporate-off">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('36714.png')%>"></figure>
      </div>
    </div>
  </div>
</section>

<section class="mb50">
  <!-- heading 1-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2 class="sh1">Benefits of BeWell</h2>
      </div>
    </div>
    <div class="benefits-bewell">
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Reduce.png')%>"></figure>
        <h1>Reduce <br />
          Stress</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase.png')%>"></figure>
        <h1>Increase
          <br />Morale</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('IncreaseConfidence.png')%>"></figure>
        <h1>Increase
          <br />Confidence</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase-Creativity.png')%>"></figure>
        <h1>Increase
          <br />Creativity</h1>
      </div>
      <div class="benefits-bewell-box pull-left text-center" style="padding-right:0px;">
        <figure style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="wow bounceIn text-primary" data-wow-delay=".1s"><img src="<%=asset_path('Increase-Productivity.png')%>"></figure>
        <h1>Increase
          <br />Productivity</h1>
      </div>
    </div>
  </div>
</section>
<section class="mb50">
  <!-- heading 1-->
  <div class="container">


    <div class="text-center mt35">
      <p class="join-now-link"><a href="#" >Join Now!</a></p>    <p class="text-email">Email&nbsp;<span class="email-type">BeWell@Reddera.com</span> for more information</p>
    </div>
    </div>
</section>
