<section class="helpbg">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row"></div>
  </div>
</section>

<!-- /.carousel -->

<!-- heading 1-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
      <h2 class="sh1">Help and Support</h2>
    </div>
  </div>
  <div class="col-md-3 col-xs-4">
    <div class="help-left">

      <!--help-faq-->
      <a class="help-cont current" data-tab="tab-1"> <span><img src="<%=asset_path('help-faq-icon.png')%>" style="margin-left:60px"></span>
        <h1>FAQs</h1>
        <p>Get answers to most <br/>
          frequenlty asked questions.</p>
      </a>

      <!--Contact Us-->
      <a class="help-cont" data-tab="tab-2"> <span><img src="<%=asset_path('help-contact-icon.png')%>"></span>
        <h1>Contact Us</h1>
        <p>Reach us anytime, from anyplace. We're here to help.</p>
      </a>

      <!--File a Complaint-->
      <a class="help-cont" data-tab="tab-3"> <span><img src="<%=asset_path('file-complaint-icon.png')%>"></span>
        <h1>File a Complaint</h1>
        <p>Dissatisfied for any reason? <br/>
          Let us know!</p>
      </a>
      <!--Chat-->
      <a class="help-cont" data-tab="tab-4" id="Intercom"> <span><img src="<%=asset_path('help-chat-icon.png')%>" ></span>
        <h1>Chat</h1>
        <p>Chat with us for any immediate concerns.</p>

      </a>
    </div>
  </div>
  <div class="col-md-9 col-xs-12" id="rightSec">

    <!--======== FAQs section ========-->
    <div class="help-tab current" id="tab-1">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#cr" id="cr-tab" data-toggle="tab">Client <br/>
          Resources</a></li>
        <li><a data-target="#pr" id="pr-tab" data-toggle="tab">Professional <br/>
          Resources</a></li>
      </ul>


      <div class="tab-content" id="tab-content-link"><br>

        <div class="tab-pane active" id="cr">
          <!-- content -->
          <img class="icabs faq" src="<%=asset_path('help_light.png')%>"/>

          <div class="tab-content-box">
            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div>

                  <span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-card.png')%>" style="margin-top:5px"/></div>
                  Paying Your Professional</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->


                <div class="help-tab-praph">
                  <a  data-href="#box1">How are payments Transaction Processed?</a><br>
                  <div class ="toggle" id="box1">
                    Reddera processes all payments through a secure system, ensuring that each transaction goes through conveniently. We hold your credit card information at the time of booking and don’t charge you until after your service is complete.                  </div>
                  <a  data-href="#box8">What types of Payments are Accepted?</a><br>
                  <div class ="toggle" id="box8">
                    All major credit/debit cards are accepted; Visa, Mastercard, Amex, and Discover.
                  </div>
                  <a data-href="#box9">Are there additional fees for Travel?</a>
                  <div class ="toggle" id="box9">
                    We have set our prices so that you don’t have additional fees. Your total Reddera service charge includes the Reddera Professional's service cost, Reddera’s service fee and sales tax. If you're particularly impressed with the service a Reddera Professional has done, consider adding gratuity or tipping them at the time of the service.
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div><span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-service.png')%>" style="margin-top:7px"/></div>
                  Managing Your Appointments</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->

                <div class="help-tab-praph">
                  <a data-href="#box3">How do I contact my Professional?</a><br>
                  <div class ="toggle" id="box3">
                    Through your account, you can message your Professional or contact them directly via a phone number/email.
                  </div>
                  <a data-href="#box4">How do I prep for my appointment? </a><br>
                  <div class ="toggle" id="box4">
                    To expedite your appointment, for hair and makeup we ask that all Clients be ready with a clean face and clean hair when the Professional arrives. For in-office appointments, our artists can lightly clean the skin and dampen hair as needed, unless dry styling is requested to accomplish your desired look. For massages and bikini waxing, we asks that the Client is previously showered. Nails- no worries, we have the proper materials to remove polish, as well as wet wipes for face and body.
                  </div>
                  <a data-href="#box5">How long will my appointments last?</a><br>
                  <div class ="toggle" id="box5">
                    Reddera Professionals set the duration of their appointments, varying on Clients’ request. They typically last between 45-90 minutes.
                  </div>
                  <a data-href="#box6">What if I'm running late?</a><br>
                  <div class ="toggle" id="box6">
                    Running late happens sometimes so we encourage clients to let the Professional know ASAP. We allow for a 15 minute grace period if you are running late. If you want to reschedule your appointment, you can up to 24 hours before your appointment free of charge. If you are late beyond the 15 minute grace period, it is at the discretion of your Professional on whether they can complete the service in the remaining time.
                  </div>
                  <a data-href="#box7">I need to cancel my appointment. What is Your refund Policy?</a>
                  <div class ="toggle" id="box7">
                    Traveling is a large part of the Reddera Professionals’ work so it is critical that cancellation is done within a reasonable timeframe. Cancellations up to 24 hours before your appointment are free of charge. Cancellations within 23-12 hours of the appointment will be charged 25% of the service cost. Cancellations within 12-6 hours of the appointment are charged 50% of the service cost. Cancellations less than 6 hours before the appointment will be charged the full appointment fee. Appointment locations cannot be changed without advanced notice and approval from Reddera.
                  </div>
                </div>


              </div>
            </div>

            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div><span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-trust.png')%>"/></div>
                  Service Concerns</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->

                <div class="help-tab-praph">
                  <a data-href="#box10">What If I was dissatisfied with my service?</a><br>
                  <div class ="toggle" id="box10">
                    We try our best to make sure Clients are satisfied, but if you don’t like the service, let the Reddera Professional know and they will do their best to fix it for you. If you aren’t satisfied after the appointment, please do not hesitate to contact Reddera’s customer service at support@reddera.com.
                  </div>
                  <a data-href="#box11">Can I book more than one service?</a><br>
                  <div class ="toggle" id="box11">
                    Yes! You can book more than one service, such as booking two hair appointments back to back for you and a friend. You can also book two appointments at the same time from different professionals such as a mani-pedi and a hair stylist, or two hair stylists for you and a friend.
                  </div>
                  <a data-href="#box12">what if I'm allergic to Specific Products</a><br>
                  <div class ="toggle" id="box12">
                    If you have an allergy or sensitivity to any specific product, you have the option to leave a note for your Professional during the booking process to notify them of any issues you may have. Hypoallergenic products are also available.
                  </div>
                  <a data-href="#box13">What Skincare,haircareand make upProducts do Redd professionals use</a>
                  <div class ="toggle" id="box13">
                    Reddera’s Professionals use a wide array of high quality products. Since Reddera’s Professionals work independently on our marketplace, they use their own products, although Reddera does suggest certain premium brands that we are sponsored with. Per request, Professionals can use your own products.
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div><span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-booking.png')%>"/></div>
                  Booking a Professional</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->
                <div class="help-tab-praph">
                  <a data-href="#box15">1.What types of services can I request?</a><br>
                  <div class ="toggle" id="box15">
                    Reddera offers services in the following categories: Men’s Grooming, Makeup, Women’s Hair, Hair Extensions, Nails, Hair Removal, Massages, and Facials.                  </div>
                  <a data-href="#box16">2.Who are the Redd Proffesionals and how are they vetted?</a><br>
                  <div class ="toggle" id="box16">
                    Our Professionals come from everywhere and have a variety of diverse backgrounds and experience in the beauty and wellness community. From top beauty schools to high-end salons to working with celebrities and in the media, our Professionals are a colorful bunch! The one thing they all have in common is that they're fully vetted people right in your community and have a passion for beauty and wellness services. Each Reddera Professional goes through a multi-step vetting process that includes an application, interview, federal and local criminal background check, and training sessions.
                  </div>
                  <a data-href="#box17">3.Can I request a specific Professional?</a><br>
                  <div class ="toggle" id="box17">
                    Of course! That’s the beauty of Reddera. We implement rigorous screening and training. We also guarantee excellence and consistency from every Professional on our platform.
                  </div>
                  <a data-href="#box18">4.Can I make an appointment directly with a professional,outside of Redd</a><br>
                  <div class ="toggle" id="box18">
                    Unfortunately, no. We do not permit our Professionals to contact Reddera Clients directly. It is also company policy to terminate membership for Clients who attempt to secure the services of a Professional outside of Reddera. We can only ensure a safe and secure appointment for both Clients and Professionals when booked through Reddera’s platform.
                  </div>
                  <a data-href="#box19">5.How do I apply my promocode?</a>
                  <div class ="toggle" id="box19">
                    During the payment process, you will be able to simply input your promo code before confirming your appointment.
                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div><span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-map.png')%>"/></div>
                  Redd near you</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->
                <div class="help-tab-praph"><a data-href="#box34">You Dont offer services in my area ,hoe Can i request Redd to my hometown</a>
                  <div class="toggle" id="box34">
                    We're glad you're excited about Reddera and we can't wait to get to your town. Request Reddera on behalf of your city by contacting locations@reddera.com. You can also spread the Reddera love by following us on Twitter and Instagram @Reddera and liking us on Facebook.com/GoReddera. We appreciate your interest and future service!                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!--professional resources tab-->
        <div class="tab-pane" id="pr">
          <!-- content -->
          <div class="tab-content-box">
            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div>

                  <span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-help-share.PNG')%>" style="margin-top:5px"/></div>
                  Client Interaction</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->
                <div class="help-tab-praph">
                  <a data-href="#box25">Who do I contact in case of a dispute/problem with an unsatisfied client?</a>
                  <div class="toggle" id="box25">
                    We understand that a negative situation may occur with a Client. Always maintain professionalism and reassure the Client that he/she will be accommodated. Immediately email customer service at support@reddera.com and report the problem so that we can alleviate the situation.
                  </div>
                  <br>
                  <a data-href="#box26">What if I'm late or need to cancel an appointment?</a><br>
                  <div class="toggle" id="box26">
                    Communicate with your Client immediately. Send messages through the Reddera app to your Client so that they are aware of the situation
                  </div>
                  <a data-href="#box27">How will we and our clients receive confirmation of the appointment and any further changes after the appointment is booked?</a><br>
                  <div class="toggle" id="box27">
                    Immediately after an appointment is booked, you will be scheduled and the details will show in the ‘Pending’ section under the ‘Your Bookings’ tab of your Reddera profile. Simply confirm the appointment and email confirmations will be sent out to the Clients. If any changes occur after the appointment is booked, you and the respective Client will receive email/text notifications.
                  </div>
                  <a data-href="#box28">What is the cancellation policy for already booked appointments?</a><br>
                  <div class="toggle" id="box28">
                    Although we don’t encourage it, we understand that things can come up causing you to cancel on your Client. We just ask that you cancel in a timely manner out of respect and courtesy to the Client. There are no immediate penalties, but after 3 cancellations, your account will be flagged and someone from Reddera’s customer service will contact you.
                  </div>
                  <a data-href="#box29">How will the customer notify me of their allergies, special conditions, product use, and any other specifications?</a>
                  <div class="toggle" id="box29">
                    Clients will have the option to leave you a note during their booking process to notify you of any issues they may have regarding any product concerns or specifications.                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="tab-in-box">
                <!-- heading -->
                <div>

                  <span class="help-heading">
                  <div class="help-ic"><img src="<%=asset_path('icon-help-folder.PNG')%>" style="margin-top:5px"/></div>
                  Redd Policies</span>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- pragraph -->
                <div class="help-tab-praph">
                  <a data-href="#box30">Are we expected to provide our own beauty kit and tools?</a><br>
                  <div class="toggle" id="box30">
                    Yes. As a mobile beauty Professional, your beauty kit needs to include all the essential products and tools in order to perform your services.
                  </div>
                  <a data-href="#box31">Are tips and tax included in the total amount of the service(s) paid through Redd?</a><br>
                <div class="toggle" id="box31">
                  Tips are not included. Clients have the option to tip you in cash at the end of the service.
                </div>
                  <a data-href="#box33">What are the licensing requirements?</a>
              <div class="toggle" id="box33">
                Under state law, a valid NY Cosmetology License or a specific beauty license to practice certain services is required.
              </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!--======== Contact us section ========-->
    <div class="help-tab" id="tab-2">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#contact" data-toggle="tab">Contact Us</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="contact">
          <!-- content -->
          <div class="tab-content-box contact">
            <h4>Please select the topic in accordance with your inquiry and type your message below</h4><br>
            <div class="img-call-position">
                <img class="icabs" src="<%=asset_path('call_light.png')%>"/>
            </div>

            <div class="alert alert-danger alert-dismissible" id="check-alert-inquiry" role="alert">
              <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Please Select one of the checkboxes
            </div>
            <%= form_tag inquiry_path, :id=>"inquiry-form",:html => {:method => :post} do %>

              <input type="checkbox" id="inq-1" name="inquiry1" value="Customer Support" >
              <label class="fontAdjust" for="inq-1">Customer Support</label>

              <input type="checkbox" id="inq-2" name="inquiry2" value="Press"/>
              <label class="fontAdjust" for="inq-2">Press</label>

              <input type="checkbox" id="inq-3" name="inquiry3" value="Jobs"/>
              <label class="fontAdjust" for="inq-3">Jobs</label>

              <input type="checkbox" id="inq-4" name="inquiry4" value="Other"/>
              <label class="fontAdjust" for="inq-4">Other</label>

              <br><br>
              <div class="clearfix contFrm">
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="company" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" id="" required>
                  </div>
                </div>

                <div class="col-xs-12">
                  <textarea rows="5" class="form-control" name="details" placeholder="How can we help? Please explain in detail how we can assist you and we'll get back to you shortly" required></textarea>
                </div>
              </div>
              <br>
                <button type="submit" id="inquiry-submit-button" class="btn btn-default btn-lg">Send</button>

          <%end%>

          </div>
        </div>

      </div>
    </div>


    <!--======== File a complaint section ========-->
    <div class="help-tab" id="tab-3">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#fc" data-toggle="tab">File a complaint</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="fc">
          <!-- content -->
          <div class="tab-content-box contact">
            <h4>Please select the topic in accordance with your Complaint and type your message below</h4><br>
            <img class="icabs" src="<%=asset_path('file-complaint-icon.png')%>"/>
            <!--<div class="alert alert-danger alert-dismissible" id="check-alert" role="alert">-->
              <!--<button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
             <!--Please Select one of the checkboxes-->
            <!--</div>-->
            <%= form_tag complaint_path, :id=>"complaint-form",:html => {:method => :post} do %>
              <input type="checkbox" id="comp-1" name="complaint1" value="Problem With My Service">
              <label class="fontAdjust" for="comp-1">Problem With My Service</label>

              <input type="checkbox" id="comp-2" name="complaint2" value="Safety Concern"/>
              <label class="fontAdjust" for="comp-2">Safety Concern</label>

              <input type="checkbox" id="comp-3" name="complaint3" value="Billing Concern"/>
              <label class="fontAdjust" for="comp-3">Billing Concern</label>

              <input type="checkbox" id="comp-4" name="complaint4" value="Problem With My Professional"/>
              <label class="fontAdjust" for="comp-4">Problem With My Professional</label>

              <br><br>
              <div class="clearfix contFrm">
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="company" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" id="" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" id="" required>
                  </div>
                </div>

                <div class="col-xs-12">
                  <textarea rows="5" class="form-control" name="details" placeholder="How can we make things better? Please explain in detail your complaint and will get back to you shortly." required></textarea>
                </div>
              </div>
              <br>
                <button type="submit" id="complaint-submit-btn" class="btn btn-default btn-lg">Send</button>
          <%end%>


          </div>
        </div>

      </div>
    </div>

    <!--======== Chat section ========-->
    <div class="help-tab" id="tab-4">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#chat" data-toggle="tab">Chat</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="chat">
          <!-- content -->
          <div class="tab-content-box">
            <img class="icabs" src="<%=asset_path('help-chat-icon.png')%>"/>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

<br/>
<style>
    .help-cont{display: block; padding:25px 0 13px; cursor: pointer; transition:.3s all}
    .help-cont.current, .help-cont:hover{background: #fff;}
    .help-cont p{line-height:20px; color:#999}
    .help-tab{display: none;}
    .help-tab.current{display: inherit;}
    .help-left{overflow:hidden; padding:0; border-width:2px;}
    .help-tab-praph{line-height:28px}
    .help-tab-praph a{color:#999; cursor:pointer;}
    .help-tab-praph a:hover{text-decoration:underline;}
    .tab-in-box{min-height:120px;}
    .help-heading{padding-left:0; font-family: 'proxima_nova_rgregular'; font-weight:100; font-size:17px; letter-spacing:0}
    .help-tab .tab-content{padding:30px 10px 20px; height:811px}
    #tab-1.help-tab .tab-content{height:auto;padding:10px 0;margin-bottom:20px;}
    #tab-1.help-tab .tab-content-2{height:0;padding:10px 0;margin-bottom:20px;}

    .help-ic{border-radius: 100%;box-shadow: 3px 2px 4px #ddd; float: left;margin:-21px 14px 0 -8px; width:60px; height:59px; text-align:center; padding-top:10px}
    .help-tab .nav-tabs > li > a{margin:0; cursor:pointer; padding:15px 45px; letter-spacing:1px}
    .help-tab .nav-tabs > li.active > a, .help-tab .nav-tabs > li.active > a:hover, .help-tab .nav-tabs > li.active > a:focus{background:#ca2a5c !important; color:#fff;}
    textarea{font-family: 'proxima_novalight';}
    a:hover, h4, label{font-family: 'proxima_nova_rgregular';}
    .tab-content-box input[type="checkbox"]+label{margin-right:25px}
    .tab-content-box label{font-weight:100}
    .tab-content-box h4{font-size:17px}
    .tab-content-box .btn-default{float:right; margin-right:15px}
    .tab-content-box.contact{padding:0 10px}
    .contFrm{margin-left:-15px}
    .btn-default{background-color:#ca2a5c; color:#fff; border:none;}
    .icabs{position:absolute; right:26px; top:90px}
    .icabs.faq{top:110px; right:35px}
    textarea.form-control{border-radius:14px}
    .fontAdjust{font-size: 13px}
        div.toggle{display: none}



</style>
<script type="text/javascript">

    $('#check-alert-inquiry').hide()
    $(document).ready(function(){
        $('#check-alert').hide()

        $('#pr-tab').click(function(){
            var element=document.getElementById('tab-content-link')
             $('.tab-content').css('height','800')
        });
        if(window.location.href.indexOf("contact_us") !== -1){
            var tab_id = 'tab-2';
            $('.help-cont').removeClass('current');
            $('.help-tab').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');

            $('html, body').animate({
                scrollTop: $('#tab-2').offset().top
            },'slow');

        }
        $('#cr-tab').click(function(){
            var element=document.getElementById('tab-content-link')
            $('.tab-content').css('height','auto')
        });

        $('.help-cont').click(function(){
            var tab_id = $(this).attr('data-tab');
            $('.help-cont').removeClass('current');
            $('.help-tab').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');

        });


        $("a").click(function(){
            var myelement = $(this).attr("data-href")
            $(myelement).slideToggle("slow");
            $(".toggle:visible").not(myelement).hide();

        });
        $(function(){
            $("[data-hide]").on("click", function(){
                $(this).closest("." + $(this).attr("data-hide")).hide();
            });
        });

        $('#sub-div').click(function(event){
            if (attr('submit-button', 'disabled') == 'true')
            {
                $('#check-alert').show()
            }
        });
//        $('#complaint-submit-btn').on('click', function() {
//            var textinputs = document.querySelectorAll('input[type=checkbox]');
//            var empty = [].filter.call( textinputs, function( el ) {
//                return !el.checked
//            });
//
//
//           // alert(textinputs.length == empty.length)
//            if (textinputs.length == empty.length){
//                $('#check-alert').show()
//            }else{
//                $('#complaint-form').submit();
//
//            }
//        });

//
//        $('#inquiry-submit-button').on('click', function() {
//            var textinputs = document.querySelectorAll('input[type=checkbox]');
//            var empty = [].filter.call( textinputs, function( el ) {
//                return !el.checked
//            });
//
//
//            // alert(textinputs.length == empty.length)
//            if (textinputs.length == empty.length){
//                $('#check-alert-inquiry').show()
//            }else{
//                $('#complaint-form').submit();
//
//            }
//        });
    var click_event=0
      $('#Intercom').click(function(){
         if (click_event==0){
             Intercom('show');
             click_event=1;
         }
          else{
             Intercom('hide');
             click_event=0
         }
      });
    });




</script>