<section class="howbg">
  <!-- heading 1-->
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-3"><div class="device-panel"><img src="<%=asset_path('howto-reddera-header-device.png')%>"></div></div>
      <div class="col-md-9">
        <h1>Get ready with Redd whenever, wherever.  <br />
          Redd is the smart way to get pampered by connecting you with <br />beauty and wellness professionals in your neighborhood.
        </h1>
      </div>
    </div>
  </div>
</section>



<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
      <h2 class="sh1">How Reddera Works</h2>
    </div>
  </div>
  <div style="position: relative">
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="howreddera-box" >
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary pull-right" style="visibility: visible;margin-right: 10px; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('browse-new.png')%>"></figure>
        <h3><span class="nhc">1.</span>&nbsp;Browse</h3><div class="clearfix"></div>
        <p class="text-muted">Browse through Reddera's menu of<br /> professionals and services.</p>
      </div>

    </div>

    <span class="arrow-pos"><img src="<%=asset_path('arrowright.png')%>"></span>

    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="howreddera-box">
        <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; margin-right: -54px;animation-delay: 0.2s; animation-name: bounceIn;"><img src="<%=asset_path('reduce-new.png')%>"></figure>
        <h3><span class="nhc">2.</span>&nbsp;Select</h3>
        <p class="text-muted">Select your appointment time and location <br />and securely pay through our platform.</p>
      </div>
    </div>

    <span class="arrow-pos1"><img src="<%=asset_path('arrowright.png')%>"></span>

    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="howreddera-box">
        <figure data-wow-delay=".3s" class="wow bounceIn text-primary pull-right" style="visibility: visible; margin-right: 8px;animation-delay: 0.3s; animation-name: bounceIn;"><img src="<%=asset_path('get-pamperd-new.png')%>"></figure>
        <h3><span class="nhc">3.</span>&nbsp;Get<br/>
          Pampered</h3><div class="clearfix"></div>
        <p class="text-muted">Get pampered by your Redd <br />professional, wherever, whenever.</p>
      </div>
    </div>

  </div>
</div>

<!-- steps 1-->
<section class="howredderastep mt50">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-7">&nbsp;</div>
      <div class="col-md-5 box-numain">
        <div class="box-center">
          <span class="box-number text-center">
            <h1>1</h1>
          </span>
        </div>

        <h2>Trust Reddera to send nothing but the best your way.</h2>
        <p>Our professionals are thoroughly vetted on the talent and expertise fronts.</p>
      </div>
    </div>
  </div>
</section>

<!-- steps 2-->
<section class="howredderastep2">
  <!-- heading 1-->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-5 box-numain">
        <div class="box-center">
              <span class="box-number">
            <h1>2</h1>
          </span>
        </div>
        <h3>Say goodbye to lost time traveling or waiting at a salon or spa. </h3>
        <p>Select a service and choose a professional or allow us to choose one for you! It's that easy!</p>
      </div>
      <div class="col-md-7">&nbsp;</div>
    </div>
  </div>
</section>

<!-- how payment work -->
<section>
  <!-- heading 1-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2 class="sh1">How Payments Work</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="guarantee-box">
        <figure data-wow-delay=".1s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><img src="<%=asset_path('new-Cash-Free.png')%>"></figure>
        <h3>Cash Free</h3>
        <p class="text-muted">Payments are processed securely online once your booking is complete. In the event that a refund needs to be issued, that too will be processed online. </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="guarantee-box">
        <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"><img src="<%=asset_path('Need-to-Cancel.png')%>"></figure>
        <h3>Need to Cancel? No Problem.</h3>
        <p class="text-muted">You may cancel your appointment within 24 hours of your booking, no fee attached. See our FAQs for details on fees that apply to shorter notice cancellation. </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
      <div class="guarantee-box">
        <figure data-wow-delay=".3s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"><img src="<%=asset_path('Member-Services.png')%>"></figure>
        <h3>Member Services</h3>
        <p class="text-muted">Reddera is here for you. We provide Member Services support to ensure our satisfaction guarantee. </p>
      </div>
    </div>
  </div>
</section>
<!-- The Reddera Guarantee -->
<section>
  <!-- heading 1-->  <div class="col-md-5 col-xs-12 text-center">
  <div class="call-img"><img src="<%=asset_path('backgroun-img.png')%>"></div>
</div>
  <div class="h30"></div>
  <div class="container reddera-guarantee-box">

    <div class="col-md-7 col-xs-12 text-center">
      <div class="row">
        <h2 class="reddera-guarantee-heading">The Reddera Guarantee</h2>
      </div>
      <div class="reddera-guarantee">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"><img src="<%=asset_path('heart-icon.png')%>"></figure>
          <p class="text-muted">Your satisfaction means the world to us. We strive to impress at every booking.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"><img src="<%=asset_path('pin-icon.png')%>"></figure>
          <p class="text-muted">Our professionals receive our Badge for exceeding performance expectations.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <figure data-wow-delay=".2s" class="wow bounceIn text-primary" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"><img src="<%=asset_path('time-icon.png')%>"></figure>
          <p class="text-muted">Our Member Services Team is available to you to assist with any questions/concerns.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="h50"></div>
</section>
