<div id="home">
        
            <div class="single-slider">
                <div class="slider-title img-responsive home-bg-img" style="background-image:url(assets/Homepage/Home-banner.jpg);">
                    <div class="table-cell">
                        
                        <p class="slider-animation-up">Live like a star, beauty and wellness delivered to you.</p>
                        <div class="button-group slider-animation-up"> 
						<form>
							<div class="controls controls-row">
								<input id="bigtext"  type="text" class="span3" placeholder="Search a Service or Professional"> 
								<input  type="text" class="span3" placeholder="Location">
								<input   type="text" class="span3" placeholder="Date">
								<input  type="text" class="span3" placeholder="Time">
							    <button  type="submit" class="btn btn-primary input-medium">Search</button>
							</div>
							
							
						</form>
							
						</div>
                    </div>
            </div>
          </div>
       
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        <h1>How It Works</h1>
                        <div class="section-borders">  </div>
                        <p>
							
						</p>
                    </div>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-4">
                        <div class="col-sm-5">
							<div class="circle-num"><span>1</span></div>
							<div class="circle-title"><span> Pick Service And Time</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							    
							    <%= image_tag("Homepage/1_0.jpg", class:"img-responsive img-circle")%>
							</div>
							
						</div>
                   </div>
					
					<div class="col-md-4">
                        <div class="col-sm-5">
							<div class="circle-num"><span>2</span></div>
							<div class="circle-title"><span> Choose Pro And Location</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							 <!-- <img src="assets/images/Homepage/1_1.jpg" class="img-responsive img-circle" alt="img"/>-->
							   <%= image_tag("Homepage/1_1.jpg", class:"img-responsive img-circle")%>
							 
							</div>
							
						</div>
                   </div>
					<div class="col-md-4">
                        <div class="col-sm-5">
							<div class="circle-num"><span>3</span></div>
							<div class="circle-title"><span> Get Pampered On Demand</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							  <!--	<img src="assets/images/Homepage/GetPampered.png" class="img-responsive img-circle" alt="img"/>-->
							   <%= image_tag("Homepage/GetPampered.png", class:"img-responsive img-circle")%>
							</div>
							
						</div>
                   </div>
                
            </div>
        </div>
    </section>
    <!--About Us section -->
    <!--Our service section -->
    <section id="our-service" class="service-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>See What's Popular</h1>
                        <div class="section-borders">  </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-wrap">
                    <div class="col-sm-3">
					
                    <div class="our-team wow " >
					   <div class="team-content">
                            <h2 class="title">Boxer Braids</h2> 
						</div>
                        <div class="team-img"> 
                        <!--<img src="assets/images/Homepage/HomeService1.jpg">-->
                        <%= image_tag ("Homepage/HomeService1.jpg")%>
                           
                        </div>
                        <div class="team-content-footer">
                           
							<span class="post">Book Instantaly&nbsp;<i class="fa fa-play"></i></span> 
						</div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                    <div class="our-team wow ">
					   <div class="team-content">
                            <h2 class="title">Beard Shave</h2> 
						</div>
                        <div class="team-img">  <%= image_tag ("Homepage/BeardShaveService.jpg")%><!--<img src="assets/images/Homepage/BeardShaveService.jpg">-->
                           
                        </div>
                        <div class="team-content-footer">
                            
							<span class="post">Book Instantaly  &nbsp;<i class="fa fa-play"></i></span> 
						</div>
                    </div>
                </div>
                    <div class="col-sm-3">
                    <div class="our-team wow" >
					    <div class="team-content">
                            <h2 class="title">Full Glam Makeup</h2> 
						</div>
                        <div class="team-img"> <%= image_tag ("Homepage/Service-glame-makeup.jpg")%> <!--<img src="assets/images/Homepage/Service-glame-makeup.jpg">-->
                          
                        </div>
                        <div class="team-content-footer">
							<span class="post">Book Instantaly  &nbsp;<i class="fa fa-play"></i><span> 
						</div>
                    </div>
                </div>
                   <div class="col-sm-3">
                    <div class="our-team wow">
					<div class="team-content">
                            <h2 class="title">Natural Makeup</h2> 
						</div>
                        <div class="team-img"> <%= image_tag ("Homepage/Natural-Makeup.jpg")%> <!-- <img src="assets/images/Homepage/Natural-Makeup.jpg">-->
                           
                        </div>
                        <div class="team-content-footer">
                            
							<span class="post">Book Instantaly  &nbsp;<i class="fa fa-play"></i></span> 
						</div>
                    </div>
                </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!--/End Our service section -->
    <!-- Start Our Skill Area -->
    <section id="our-skills" class="section-padding overlay-color-skill">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>Featured Professional</h1>
                        <div class="section-borders"> </div>
                        
                    </div>
                </div>
            </div>
		</div>
	<div id="our-skill">	
        <div class="container">		
            <div class="row feature-prof text-center">
			  <div class="col-sm-6 col-sm-offset-6 text-center">
                <h2>Featuring:</h2>
				<div class="col-sm-5 fet-pro-img">
				 <!--<img src="assets/images/Homepage/Profile-Pic.png" class="show-img">-->
				 <%= image_tag ("Homepage/Profile-Pic.png")%>
				</div>
				<div class="col-sm-6 fet-pro-txt">
				 <h4>Mary Smith</h4>
				  <span>Hair Style</span> |  <span>Nail Tech</span>
				  <p><i class="fa fa-location-arrow" aria-hidden="true"></i> New Yark, NY</p>
				</div>
				<div class="col-sm-12 fet-pro-para">
				  <p>"Booking hair with Mary is a treat.She has a keen eye for detail her work truely bring out of all your fueture inan elegend and bold way."</p>
				
				   <button class="btn-primary join-btn">View Profile</button> 
				   
				</div>
			   </div>	
			   
            </div>
        </div>
	  </div>	
    </section>
    <!-- /End Our Skill Area  -->
    <!--Our Portfolio -->
    <section id="our-portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        <h1>Recently Booked</h1>
                        <div class="section-borders">  </div>
                        
                    </div>
                </div>
            </div>
            <!--  <div class="row">
				<div class="col-xs-12">
					<ul class="portfolio">
						<li class="filter" data-filter="all">all Project</li>
						<li class="filter" data-filter=".webdesign">webdesign</li>
						<li class="filter" data-filter=".development">development</li>
						<li class="filter" data-filter=".photography">photography</li>
					</ul>
				</div>
			</div>-->
			<div class="portfolio-inner">
				<div class="row portfolio-posts">
				   <div class="mix webdesign col-sm-6 col-md-4"  id="slider">
					<div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					   <div class="team-content-port">
                            <h3 class="title-port">Up-Do</h3> 
					   </div>
						
                    <!-- Top part of the slider -->

                        <div id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item team-img" data-slide-number="0">
                                     <!-- <img src="assets/images/Homepage/Up-Do.jpg">-->
                                       <%= image_tag ("Homepage/Up-Do.jpg")%>
									</div>
									
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
							
                         </div>
                        <!-- <img src="assets/images/Homepage/Profile-Pic.png" class="prof-img">-->
                          <%= image_tag("Homepage/Profile-Pic.png", class:"prof-img")%>
						 <div class="star-rating"> 
						  <span class="fa fa-star checked" data-rating="1"></span>
						  <span class="fa fa-star checked" data-rating="2"></span>
						  <span class="fa fa-star checked" data-rating="3"></span>
						  <span class="fa fa-star checked" data-rating="4"></span>
						  <span class="fa fa-star-o" data-rating="5"></span>
						  <input type="hidden" name="whatever" class="rating-value" value="3">
						</div>
                         
                        <div class="col-sm-12 team-content-foot">
							   <div class="price-col-lf"><span>$75 | 70Mins</span></div>
							   <div class="price-col-rt"><span></span>Mary Smith</div>
						</div>	   
						<div class="col-sm-12 team-content-bottom">	
                            <div class="col-sm-6 button-col-lf">
							  <span>Book Instantaly  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
							 <div class="col-sm-6 button-col-rt">
							   <span>View Profile  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
						</div>
						
                    </div>
					</div>
					<div class="mix webdesign col-sm-6 col-md-4">
					<div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					   <div class="team-content-port">
                            <h3 class="title-port">Full Glam Makeup</h3> 
						</div>
                       <div id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item team-img" data-slide-number="0">
                                     <!-- <img src="assets/images/Homepage/FullGlamMakeup.jpg">-->
                                       <%= image_tag ("Homepage/FullGlamMakeup.jpg")%>
									</div>
									
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
							
                         </div>
                        <!-- <img src="assets/images/Homepage/Profile-Pic.png" class="prof-img">-->
                         <%= image_tag("Homepage/Profile-Pic.png", class:"prof-img")%>
						 <div class="star-rating"> 
						  <span class="fa fa-star checked" data-rating="1"></span>
						  <span class="fa fa-star checked" data-rating="2"></span>
						  <span class="fa fa-star checked" data-rating="3"></span>
						  <span class="fa fa-star checked" data-rating="4"></span>
						  <span class="fa fa-star-o" data-rating="5"></span>
						  <input type="hidden" name="whatever" class="rating-value" value="3">
						</div>
                         
                        <div class="col-sm-12 team-content-foot">
						     
							 
							  <div class="price-col-lf"><span>$75 | 70Mins</span></div>
							   <div class="price-col-rt"><span></span>Mary Smith</div>
						</div>	   
						<div class="col-sm-12 team-content-bottom">	
                            <div class="col-sm-6 button-col-lf">
							  <span>Book Instantaly  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
							 <div class="col-sm-6 button-col-rt">
							   <span>View Profile  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
						</div>
                    </div>
					</div>
					<div class="mix webdesign col-sm-6 col-md-4">
					<div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					   <div class="team-content-port">
                            <h3 class="title-port">Bredle Hair Day-Of</h3> 
						</div>
                        <div id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item team-img" data-slide-number="0">
                                     <!-- <img src="assets/images/Homepage/Bridal-Hair-Day-Of.jpg">-->
                                      <%= image_tag ("Homepage/Bridal-Hair-Day-Of.jpg")%>
									</div>
									
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
							
                         </div>
                        <!-- <img src="assets/images/Homepage/Profile-Pic.png" class="prof-img">-->
                         <%= image_tag("Homepage/Profile-Pic.png", class:"prof-img")%>
						 <div class="star-rating"> 
						  <span class="fa fa-star checked" data-rating="1"></span>
						  <span class="fa fa-star checked" data-rating="2"></span>
						  <span class="fa fa-star checked" data-rating="3"></span>
						  <span class="fa fa-star checked" data-rating="4"></span>
						  <span class="fa fa-star-o" data-rating="5"></span>
						  <input type="hidden" name="whatever" class="rating-value" value="3">
						</div>
                         
                        <div class="col-sm-12 team-content-foot">
						     
							 
							   <div class="price-col-lf"><span>$75 | 70Mins</span></div>
							   <div class="price-col-rt"><span></span>Mary Smith</div>
						</div>	   
						<div class="col-sm-12 team-content-bottom">	
                            <div class="col-sm-6 button-col-lf">
							  <span>Book Instantaly  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
							 <div class="col-sm-6 button-col-rt">
							   <span>View Profile  &nbsp;<i class="fa fa-play"></i></span>
							</div> 
						</div>
                    </div>
					</div>
					
				</div>
			</div>
        </div>
    </section>
   
    <section id="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <div class="section-title wow fadeInDown">
						    <h1>The Redd Blog</h1>
							<div class="section-borders">  </div>
							
							
						</div>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-sm-7">
				   <div class="topof-blog"> <h2 style="color:white">All Things Beauty, Fashion & Wellness</h2>
				   <span>TAKE ME THERE &nbsp;<i class="fa fa-play"></i></span>
				   </div>
                    <div class="blog-col wow fadeIn">
                        <div class="blog-img">
						<!--  <img src="assets/images/Homepage/FW.jpg" alt=""> -->
						    <%= image_tag ("Homepage/FW.jpg")%>
                           <div class="transbox">
    <p>NYFW Rownup</p>
  </div>  
                        </div>
                        
            
					</div>
                </div>
                <div class="col-sm-4">
				
				   
                    <div class="blog-col wow fadeIn" data-wow-duration="2s">
                        <div class="blog-img"> <!--<img src="assets/images/Homepage/Haircut.jpg" alt="">-->
                         <%= image_tag ("Homepage/Haircut.jpg")%>
                          <div class="transbox">
    <p>Talking To Your Barber</p>
  </div>  
                        </div>
                       
					</div>
                </div>
				<div class="col-sm-4">
				
				   
                    <div class="blog-col wow fadeIn" data-wow-duration="2s">
                        <div class="blog-img"> <!--<img src="assets/images/Homepage/Smashbox.jpg" alt="">-->
                         <%= image_tag ("Homepage/Smashbox.jpg")%>
                           <div class="transbox">
    <p>Shay Mitchell X smashbox </p>
  </div>  
                        </div>
                        
					</div>
                </div>
                
            </div>
        </div>
        <!--<div class="subscribe-area">
            <div class="subscribe-area-title">
                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                <p>You can unsubscribe anytime you want</p>
            </div>
            <div class="email-subscribe">
                <form action="index.html" method="get">
                    <input type="email" placeholder="Email Address">
                    <input type="submit" value="subscribe">
				</form>
            </div>
        </div>-->
    </section>
	