<div class="container">
  <%if !@message.blank?%>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=(@message)%>
      </div>
  <%end%>
  <div class="col-lg-12 text-center">
    <h2 class="sh7">Add Service Sub Categories</h2>
  </div>

  <%= form_for @service_sub_category, html: {multipart: true}  do |f| %>
      <div class="form-row">
        <% if @service_sub_category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@service_category.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @service_sub_category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name , class: "form-control" ,validate: { presence: true, uniqueness: false }%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label "Description" %>
            <%= f.text_field :description , class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label "Price" %>
            <%= f.text_field :price , class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label "Service Category" %>

            <%=collection_select(:service_categories, :id, ServiceCategory.all,
                                 :id, :name,
                                 {:prompt => 'Service Category'})%>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12 col-sm-12 file-upload">
            <div>Upload a Picture</div>
                          <span>
                             <input type="file" name="file" accept="image/*">
                          </span> <span class="pull-left" style="margin-bottom: 19px;margin-top:50px ; margin-left:-256px">
                                               <%= f.submit "Create", class: "btn-confirm btn btn-small btn-primary" %>
                          </span></div>

        </div>
      </div>
  <%end%>
  <%=link_to 'Back', rails_admin.dashboard_path, class: 'navbar-link btn-deny btn btn-primary', method: :get,:style=>"margin-bottom:39px;margin-left:10px"%>
</div>