<div class="row">
<%@recently_booked.each do |rec_booked|%>
    <div class="col-md-2 col-md-offset-1">

      <div class="user-profile-icon">
        <%if  !rec_booked.user.blank? %>
            <%=image_tag rec_booked.user.photo.image.url, :class => "" %>
            <div class="pro-recently-booked-heading"><%= rec_booked.user.first_name.upcase  %> <%=rec_booked.user.last_name.blank? ?  " ":rec_booked.user.last_name.upcase %></div>
        <%end%>

      </div>
      <br/>
      <%= form_tag(rec_book_update_path(rec_booked.id), :method => :put )  do %>

            <%=select_tag 'user', options_for_select(User.where(:role_id=>Role::STYLIST).collect{ |u| [ u.first_name,u.id] }),:id=>"user_id_#{rec_booked.id}",:style=>"margin-left:30px"%>
          <br/>
             <%= submit_tag "Update", class: "btn-confirm btn btn-small btn-primary pull-right" ,:id=>"submitbtn", :stylist_id=>current_user.id,:style=>"margin-top:7px;margin-right:59px"%>
      <%end%>
    </div>

<%end%>




</div>
<br/>



<script type="text/javascript">
//    $('#submitbtn').on("click", function () {
//
//        var user_1=$('#user_id_1').find(":selected").attr('value');
//       var user_2=$('#user_id_2').find(":selected").attr('value');
//       var user_3=$('#user_id_3').find(":selected").attr('value');
//alert(user_1+user_2+user_3)
//
//          $.ajax({
//       url:"/recently_booked_update.js",
//        type:"PUT",
//        data:{
//            recently_booked:{
//         user_1:user_1,
//         user_2:user_2,
//                user_3:user_3
//
//
//    }
//        }
//    });
//    });
</script>