



<div class="modal fade" id="myModal_stylist_signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="bookingpop">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
          <div class="modal-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="col-md-12">
              <h2 class="sh7">Professional Sign-up</h2>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name"> First Name</label>
                      <%= f.text_field :first_name, autofocus: true, class: "form-control" ,:placeholder=>"First Name",:required=>true%>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Last Name</label>
                      <%= f.text_field :last_name, autofocus: true, class: "form-control",:placeholder=>"Last Name",:required=>true %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name"> E-mail</label>
                      <%= f.email_field :email, autofocus: true, class: "form-control" ,:placeholder=>"Email"%>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name"> Phone Number</label>
                      <%= f.text_field :phone, :placeholder=>"Phone",class: "form-control" %> </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Password</label>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br/>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control",:placeholder=>"Password" %>                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name"> Password Confirmation</label>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",:placeholder=>"Password Confirmation" %>
                    </div>
                  </div>
                </div>
              <%= f.hidden_field :role_id, :value => Role::STYLIST %>

              <!--btn -->
                <div class="clearfix"></div>
                <div class="row mt35">

                  <%- if devise_mapping.omniauthable? %>
                      <%- resource_class.omniauth_providers.each do |provider| %>

                          <% if provider == :facebook %>
                              <div class="col-md-4">
                                <div class="input-group"> <span class="input-group-addon addon-facebook"> <i class="fa fa-fw fa-2x fa-facebook fa-fw"></i> </span> <a class="btn btn-lg btn-block btn-facebook" href="<%= omniauth_authorize_path(resource_name, provider,role_id:3) %>" > Sign Up with Facebook</a> </div>
                              </div>
                          <%elsif provider == :google_oauth2 %>
                              <div class="col-md-4">
                                <div class="input-group"> <span class="input-group-addon addon-google"> <i class="fa fa-fw fa-2x fa-google fa-fw"></i> </span> <a class="input-group-addon addon-google" href="<%= omniauth_authorize_path(resource_name, provider,role_id:3) %>"> Sign Up with Google</a> </div>
                              </div>

                          <%end%>
                      <%end%>
                  <%end%>
                  <div class="col-md-4">
                    <%= f.submit "Sign up", class: "btn-confirm btn btn-small btn-primary pull-right" %>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
